{% extends 'mails/base.html' %}
{% block content %}

<div class="row">


    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">

                <h5 class="card-header"> Клиент </h5>
                <div class="card-body">

                    <p class="card-text">email: {{object.email}} </p>
                    <p class="card-text">Фамилия: {{object.last_name}} </p>
                    <p class="card-text">Имя: {{object.first_name}} </p>
                    <p class="card-text">Отчество: {{object.father_name}} </p>
                    <p class="card-text">Комментарий: {{object.comment}} </p>

                </div>
            </div>
        </div>
    </div>

    {% endblock %}

