{% extends 'mails/base.html' %}
{% block content %}


<div class="col-12 mb-5">
    {% if not user.is_staff%}
    <p><a class="btn btn-primary" href="{% url 'mails:create_client'%}" role="button">Добавить клиента</a></p>
    {% endif %}
</div>

<table class="table">
    <thead>
    <tr>

        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th scope="col">Email</th>
        <th scope="col">Комментарий</th>
        {% if user.is_staff or user.is_superuser%}
        <th scope="col">Автор</th>
        {% endif %}

    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}

    <tr>
        <td>{{object.last_name}}</td>
        <td>{{object.first_name}}</td>
        <td>{{object.father_name}}</td>
        <td>{{object.email}}</td>
        <td>{{object.comment}}</td>
        {% if user.is_staff or user.is_superuser%}
        <td>{{object.owner}}</td>
        {% endif %}

        <td><a href="{% url 'mails:view_client' object.pk%}" class="btn btn-primary">detail view</a></td>
        {% if not user.is_staff%}
        <td><a href="{% url 'mails:edit_client' object.pk%}" class="btn btn-primary">edit</a></td>
        <td><a href="{% url 'mails:delete_client' object.pk%}" class="btn btn-primary">delete</a></td>
        {% endif %}
    </tr>
    {% endfor %}


    </tbody>
</table>


</div>



{% endblock %}