{% extends 'mails/base.html' %}
{% block content %}

<div class="jumbotron">
    <h2>Статистика сервиса</h2>
    <p class="lead">Количество рассылок всего:</p>
    <p class="lead">Количество активных рассылок:</p>
    <p class="lead">Количество уникальных клиентов для рассылок:</p>

<!--        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>-->
</div>


<div class="row">
    {% for object in object_list %}
    {% include 'mails/includes/inc_blog.html' with object=object %}
    {% endfor %}
</div>

{% endblock %}