{% extends 'mails/base.html' %}
{% block content %}



<div class="col-12 mb-5">
    <p><a class="btn btn-primary" href="{% url 'mails:create_mail'%}" role="button">Добавить рассылку</a></p>
</div>


<table class="table">
    <thead>
    <tr>

        <th scope="col">Название рассылки</th>
        <th scope="col">Кому (клиенты сервиса)</th>
        <th scope="col">Сообщение для рассылки</th>
        <th scope="col">Статус рассылки</th>
        <th scope="col">автор</th>

    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}

    <tr>
        <td>{{object.name|slice:50}}</td>
        <td>
            <ul>
                {% for value in object.clients.all.values_list %}
                 <li>{{value.1 }}</li>
                {% endfor%}
            </ul>
        </td>
        <td>{{object.message|slice:50}}</td>
        <td>{{object.status|slice:50}}</td>
        <td>{{object.owner}}</td>
        <td><a href="{% url 'mails:view_mail' object.pk%}" class="btn btn-primary">detail view</a></td>
        <td><a href="{% url 'mails:edit_mail' object.pk%}" class="btn btn-primary">edit</a></td>
        <td><a href="{% url 'mails:delete_mail' object.pk%}" class="btn btn-primary">delete</a></td>
    </tr>
    {% endfor %}


    </tbody>
</table>


</div>

{% endblock %}


