{% extends 'mails/base.html' %}
{% block content %}

<div class="col-12 mb-5">
    <p><a class="btn btn-primary" href="{% url 'mails:create_message'%}" role="button">Добавить сообщение для рассылки</a></p>
</div>

<div class="row">

    {% for object in object_list %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">

                <h5 class="card-header"> Сообщение для рассылки </h5>
                <div class="card-body">
                    <h5 class="card-title">Тема письма: {{object}}</h5>
                    <p class="card-text"> Тело письма: {{object.body}} </p>

                    <a href="{% url 'mails:view_message' object.pk%}" class="btn btn-primary">detail view</a>
                    <a href="{% url 'mails:edit_message' object.pk%}" class="btn btn-primary">edit</a>
                    <a href="{% url 'mails:delete_message' object.pk%}" class="btn btn-primary">delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock %}